#body1{
    background-color: aquamarine;
}


#body2{
    background-color: gold
}

#body3{
    background-color: lightseagreen;
}

#body4{
  background-color: rgb(55, 44, 246);
}

#body5{
  background-color: rgb(255, 56, 56);
}

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 255, 255); color: black;
  }

  .active {
    background-color: #04AA6D;
  }
  
  
  