#body1{
    background-color: aquamarine;
}


#body2{
    background-color: rgba(26, 255, 0, 0.774);
}

#body3{
    background-color: lightseagreen;
}

a:link, a:visited {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }


  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }